.sample-data-modal {
  div.modal__box {
    max-block-size: 90vh;
    overflow-y: auto;
    padding: 1.5em;
    max-inline-size: 680px;
  }
}

.sample-data-modal__sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-block-end: 10px;
}

.sample-data-modal__code {
  position: relative;
  display: block;
  inline-size: 100%;
  padding: 6px;
  font-size: 12px;
  background-color: $color-neutral-100;
  line-height: 140%;

  @include rounded($rounded);

  pre,
  code {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    overflow-wrap: break-word;
  }
}

.sample-data-modal__html-preview {
  display: block;
  inline-size: 100%;
  block-size: 50vh;
  border: 1px solid $palette-neutral-200;
  background-color: $palette-neutral-0;

  @include rounded($rounded);
}

.sample-data-modal__notice {
  padding: 16px 0;
  color: $palette-neutral-900;
  font-size: 13px;
}
