.workflow-history__divider {
  block-size: 1px;
  inline-size: 100%;
  background-color: $palette-neutral-200;
  margin-block: 16px;
}

.workflow-history__header {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  color: $palette-neutral-600;
  user-select: none;
}

.workflow-history__header-title {
  flex: 1;
  color: $color-neutral-900;
  font-size: 12px;
  font-weight: 500;
}

.workflow-history__header-date {
  font-size: 11px;
}

.workflow-history__run-time {
  margin-inline-start: 24px;
  margin-block-start: 12px;
  font-size: 11px;
}

.workflow-history__cancel {
  margin-inline-start: 24px;
  margin-block-start: 8px;
  font-size: 11px;
  color: $palette-neutral-600;
}

.workflow-history__cancel-link {
  color: $palette-yellow-700;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $palette-yellow-700;
    text-decoration: none;
  }

  &--disabled {
    color: $palette-neutral-600;
    cursor: default;
    pointer-events: none;
  }
}

.workflow-history__message {
  font-size: 12px;
  line-height: 16px;
  color: $palette-neutral-900;
  margin-inline-start: 24px;
  margin-block-start: 12px;
}
