.sidebar {
  @include absolute(0);

  background-color: var(--jadawel-sidebar-background, #fafbfc);
  border-inline-end: solid 1px var(--jadawel-border-color, #e7e9ec);
  block-size: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar__section {
  padding: 8px;
  flex: 0 0;

  &:not(:last-child) {
    border-block-end: solid 1px var(--jadawel-border-color, #e7e9ec);
  }

  &.sidebar__section--scrollable {
    flex: 1 1;
    min-block-size: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &.sidebar__section--bottom {
    margin-block-start: auto;
  }
}

.sidebar__section-scrollable {
  overflow-y: auto;
  min-block-size: 0;
}

.sidebar__section-scrollable-inner {
  padding: 8px;
}

.sidebar__workspaces-selector {
  @include flex-align-items(10px);

  background-color: $color-primary-500;
  border-block-end: 1px solid $color-primary-600;
  padding: 0 16px;
  block-size: 51px;
  color: $white;
  font-weight: 500;

  &:hover {
    text-decoration: none;
  }

  .sidebar--collapsed & {
    justify-content: center;
  }

  .avatar {
    background: rgba($white, 0.18);
  }
}

[data-interface-theme='white'] .sidebar__workspaces-selector {
  color: $palette-neutral-1200;
  background-color: var(--jadawel-header-background, #f5f6f7);
  border-block-end-color: var(--jadawel-border-color, #e7e9ec);

  .avatar {
    background: rgba($palette-neutral-1300, 0.08);
  }
}

.sidebar__workspaces-selector-selected-workspace {
  @extend %ellipsis;

  flex: 1;
}

.sidebar__workspaces-selector-icon {
  font-size: 18px;
  color: rgba($white, 0.7);

  [data-interface-theme='white'] & {
    color: rgba($palette-neutral-1200, 0.55);
  }
}

.sidebar__user {
  border-block-start: solid 1px var(--jadawel-border-color, #e7e9ec);
  background: var(--jadawel-sidebar-background, #fafbfc);
  padding-block-end: 8px;
  border-end-start-radius: $rounded-md;
  border-end-end-radius: $rounded-md;
}

.sidebar__user-email {
  font-weight: 500;
  font-size: 11px;
  color: $palette-neutral-900;
  padding-inline-start: 8px;
}

.sidebar__user-info {
  @include flex-align-items;

  padding: 8px 8px 0;
  gap: 18px;
}

.sidebar__user-license {
  margin-inline: auto 8px;

  &.badge.badge--neutral {
    background-color: $palette-neutral-200;
  }
}

.sidebar__new-wrapper {
  padding: 14px;
}

.sidebar__new-wrapper--separator {
  border-block-start: solid 1px var(--jadawel-border-color, #e7e9ec);
}

.sidebar__new {
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  color: $palette-neutral-900;

  @include flex-align-items(4px);

  &:hover {
    color: $palette-neutral-1200;
    text-decoration: none;
  }
}

.sidebar__new-icon {
  font-size: 16px;
  color: $palette-neutral-600;

  .sidebar__new:hover & {
    color: $palette-neutral-1200;
  }
}

.sidebar__unread-notifications-icon {
  inline-size: 8px;
  block-size: 8px;
  border-radius: 100%;
  background-color: $white;
  margin-inline-start: 4px;

  [data-interface-theme='white'] & {
    background-color: $color-primary-500;
  }
}

.sidebar__impersonate {
  position: relative;
}

.sidebar__foot {
  block-size: 31px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  .sidebar--collapsed & {
    block-size: auto;
    padding-inline: 0;
    justify-content: center;
    flex-direction: column-reverse;
  }
}

.sidebar__foot-links {
  display: flex;
  gap: 16px;
  margin-block-start: -4px;

  .sidebar--collapsed & {
    flex-direction: column;
    margin-block: 0 16px;
  }
}

.sidebar__foot-separator {
  inline-size: 1px;
  block-size: 16px;
  background-color: var(--jadawel-border-color, #e7e9ec);

  .sidebar--collapsed & {
    inline-size: 16px;
    block-size: 1px;
  }
}

.sidebar__foot-link {
  position: relative;
  color: $palette-neutral-700;

  @include center-text(16px, 16px);

  &:hover {
    text-decoration: none;
    color: $palette-neutral-1200;
  }

  &.sidebar__foot-link--loading {
    color: transparent;

    &:hover {
      cursor: inherit;
      background-color: transparent;
    }

    &::before {
      content: '';
      z-index: 1;
      margin-block-start: -6px;
      margin-inline-start: -6px;

      @include loading(12px);
      @include absolute(50%, auto, auto, 50%);
    }
  }
}

.sidebar__foot-link-icon {
  font-size: 18px;
}

.sidebar__workspace-active-icon {
  text-align: center;
  color: $palette-neutral-1200;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 5px;
  font-size: 14px;
  transform: translateY(-50%);
}

.dashboard__user-workspaces.select__items {
  padding: 6px;

  .select__item {
    &.active:not(.select__item--loading) {
      background-color: transparent;
    }
  }
}

.dashboard__user-workspace-avatar {
  margin-inline-end: 4px;
  background: $color-primary-500;
}

.sidebar__back-icon {
  font-size: 14px;
  color: $palette-neutral-700;
}

.sidebar__head {
  @include flex-align-items(15px);

  border-block-end: 1px solid var(--jadawel-border-color, #e7e9ec);
  padding: 0 21px;
  block-size: 51px;
  color: $palette-neutral-1200;
  font-weight: 500;

  .sidebar--collapsed & {
    justify-content: center;
    padding: 0;
  }
}

.sidebar__back {
  inline-size: 24px;
  block-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $palette-neutral-1200;

  @include rounded($rounded-md);

  &:hover {
    background-color: rgba($palette-neutral-1300, 0.04);
  }
}

.sidebar__title {
  font-size: 13px;
  font-weight: 500;
  color: $palette-neutral-1200;
}

.sidebar__logo {
  .sidebar--collapsed & {
    inline-size: 16px;
    block-size: 16px;
    overflow: hidden;
    padding-inline-start: 2px;
  }
}

.sidebar__collapse-link {
  font-size: 14px;
  inline-size: 28px;
  block-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $palette-neutral-1200;

  @include rounded($rounded-md);

  &:hover {
    background-color: rgba($palette-neutral-1300, 0.04);
  }
}

.sidebar__item-count {
  margin-inline-start: auto;
  color: $palette-neutral-700;
}
